@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: auto;
    font-family: 'Poppins';
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    min-height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

/********** Bootstrap.php CSS **********/
header {
    padding-top: 120px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-image: url('img/WebsiteDesignHeader.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}

.header {
    background-image: url('img/WebsiteDesignHeader.png');
    background-size: cover;
}

.navigation a {
    position: relative;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    margin-left: 135px;
}

.navigation .nav-item .nav-link {
    color: #fff !important;
    margin-bottom: 20px;
    position: relative;
    
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 400;
    margin-left: 40px;
    margin-bottom: 100px;
    transition: .5s;
}


/*********** dropdown menu ***********/
.dropdown-menu {
    background-color: #fff;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    right: 0;
    overflow: hidden; 
    max-height: 400px; 
    flex-direction: column; 
    justify-content: left; 
    align-items: flex-start;
}

.dropdown-menu a {
    text-align: left;
    color: #162938;
    padding: 10px 15px; 
    display: block;
    float: inline-end;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus,
.dropdown-menu a:active {
    color: #162938; 
    text-decoration: none; 
    outline: none; 
}

.dropdown-menu a:hover {
    background-color: #f8f9fa;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

.wrapper {
    z-index: 99;
    position: fixed;
    width: auto;
    height: auto;
    background: #fff;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .4s ease, height .4s ease;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none; 
    /*z-index: 97; */
}

/* .overlay.active-overlay {
    display: block;
} */

.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a {
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}


/********** Footer.php CSS **********/
footer {
    background-image: url('img/FOOTERIMG.png'); 
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    width: contain;
    text-align: right;
    align-items: right;
    position: absolute;
    bottom: 0;
    
} 

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 20px 0;
    color: white;
}

.social {
    margin-left: auto; 
    padding-top: 20px;
    padding-right: 10px;
    text-align: right;
    justify-content: right;
    align-items: right;
    position: relative;
}

.social a {
    color: white;
    align-items: right;
    justify-content: right;
    text-align: right;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .social {
        margin-top: 10px;
        margin-left: 0; 
    }
}


/********** Index.php CSS **********/
.banner {
    position: relative;
    width: 100%;
    overflow: hidden; 
    height: auto;
    display: block;
}

.banner img {
    width: 100%; 
    height: auto; 
    display: block;
    margin: 0; 
    padding: 0; 
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;     
}

.banner-wrapper {
    width: 90%;
    margin: 0 auto;
}

.banner-area{
    background-image: url("img/BuckleyBanner2.PNG");
    background-size: contain;
    height: 75%;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;

}

.banner-area::after{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
}

.banner-area h2{
    padding-top: 15%;
    text-align: center;
    color: #ecfffbf4;
    font-size: 100px;
    z-index: 1;
}

.welcome-container {
    position: auto; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    text-align: center; 
    padding: 20px 0; 
    color: #271e41; 
}



/********** Location.php css **********/

.location-header {
    margin-top: 27.5%;
    text-align: left;
    position:relative;
    background-color: #F0F2F7;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 65px;
}

.location-header h2 {
    font-size: 50px;
    font-weight: bold; 
    color: #162938; 
    margin-left: 18%;
}

.location-header p {
    font-size: 25px;
    color: #162938; 
    margin-left: 18%;
    margin-bottom: 25px;
}


.location-header ion-icon {
    margin-right: 5px; 
}

.location-header iframe {
    position: absolute;
    top: 55px;
    right: 0; 
    width: 40%; 
    height: 75%;
    border: none;
    margin-right: 15%;
    justify-content: center;
}

.location-header h2 ion-icon {
    font-size: 40px;
    font-weight: bolder;
    margin-left: 10px; 
    margin-bottom: 10px;
    vertical-align: middle; 
}

.google-maps-button {
    background: white;
    color: rgb(23, 15, 49);
    font-weight: bold;
    width: 300px !important;
    padding: 10px 20px;
    padding-top: 10px;
    border: 5px solid #F0F2F7;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin-left: 17.5%;
}

.google-maps-button:hover {
    background: #f0f0f0;
}


/********** Location.php **********/

.contact-container {
    margin-top: 27.5%;
    text-align: left;
    position: relative;
    background-color: #F0F2F7;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 65px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.contact-container h2 {
    font-size: 100px;
    font-weight: bold; 
    color: #162938; 
    margin-left: 12%;
    margin-bottom: 3%;
}

.contact-container h2 a {
    color: #162938; 
    font-size: 50px; 
    text-decoration: none; 
}

.contact-container h2 a:hover {
    color: #6b4efa; 
}

/* style for the form */
.contact-container form {
    width: 50%; 
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-right: 8%;
    display: flex; 
    flex-direction: column; 
}

/* style inputs with type="text", select elements and textareas */
.contact-container form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-container form input[type=text], 
.contact-container form select {
    width: 100%; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-bottom: 16px; 
    resize: vertical; 
    height: 65px;
}

.contact-container form textarea {
    width: 100%; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-bottom: 16px; 
    resize: vertical; 
    height: 160px; 
}

/* style the submit button with a specific background color etc */
.contact-container form input[type=submit] {
    background-color: #280c43;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* when moving the mouse over the submit button */
.contact-container form input[type=submit]:hover {
    background-color: #361042;
}

.contact-container form button {
    width: 15%;
    padding-top:10px;
    padding-bottom:10px;
    align-self: flex-end;
    background-color: #162938;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px; 
    font-size: 15px;
}



/********** Aboutus.php ***********/

.about-container {
    margin-top: 26%;
    text-align: left;
    position: relative;
    background-color: #ffffff;
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 65px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    border-top: 5px solid #162938; 
    border-bottom: 5px solid #162938; 
}

.about-container h2 {
    font-size: 65px;
    font-weight: bolder; 
    color: #162938; 
    margin-left: 12.5%;
    margin-bottom:2%;
    margin-top:2%;
}

.about-container h2 a {
    color: #162938; 
    font-size: 60px; 
    text-decoration: none; 
    padding-top: 45px;
    margin-right: 10px;
}

.about-container h2 a:hover {
    color: #6b4efa; 
}

.slideshow-container {
    max-width: 65%; 
    position: relative;
    padding-left: 10%;
    justify-content: right;
}

.photoslide {
    display: none;
    animation: fade 0.5s;
}

.photoslide img {
    width: 75%; 
    height: 75%; 
}

.fade {
    animation-name: fade;
    animation-duration: 5s;
}

@keyframes fade {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1
    }
}

.about-content {
    margin-top: 2%;
    text-align: center;
    position: relative;
    background-color: #ffffff;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 65px;
    display: flex; 
    justify-content: space-between; 
    flex-direction: column;
    width: 80%;
}

.accordion {
    background-color: #fff;
    color: #162938;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    transition: 0.4s;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid #a8b5be;
    outline: none;
    display: flex; 
    justify-content: space-between; 
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 20px;
    text-align: left;
    outline: none;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: flex-start; 
    border: none;
}

.panel.active {
    border: none;
}

.panel p {
    text-align: left;
    margin-left: 0; 
}

.panel a {
    color: #162938;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    text-align: left;
    margin-bottom: 5px; 
    margin-left: 0; 
}

.panel a:hover {
    color: #778cd8;
}

ul {
    padding-left: 10px;
}

ul li {
    padding-left: 10px; 
}

.map {
    margin-left: 10%;
    margin-top:2%;
}

.about-sponsors-container {
    margin-top: 3%;
    text-align: center;
    position: relative;
    background-color: #ffffff;
    width: 100%;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.about-sponsors-container h2 {
    font-size: 45px;
    font-weight: bold;
    margin: 0 auto; 
    margin-bottom: 45px;
}

.about-sponsors-container ion-icon {
    color: #162938;
    font-size: 40px;
    font-weight: bold;
    margin-left: 10px;
}

.teams-header-container {
    text-align: center;
    position: relative;
    background-color: #ffffff;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 65px;
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.teams-header-container h2 {
    font-size: 45px;
    font-weight: bold;
    margin: 0 auto;
}

.teams-header-container ion-icon {
    color: #162938;
    font-size: 40px;
    font-weight: bold;
    margin-left: 10px;
}

.teams-wrapper { 
    max-width: 1100px; 
    width: 100%; 
    position: relative; 
    scroll-behavior: smooth;
    max-width: 1100px; 
    margin: 0 auto; 
  
} 
  
.teams-wrapper i { 
    height: 50px; 
    width: 50px; 
    background: #063D66;
    color: #fff;
    text-align: center; 
    line-height: 50px; 
    border-radius: 50%; 
    cursor: pointer; 
    position: absolute; 
    top: 50%; 
    font-size: 1.25 rem; 
    transform: translateY(-50%); 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23); 
  
} 
  
.teams-wrapper i:first-child { 
    left: -85px; 
  
} 
  
.teams-wrapper i:last-child { 
    right: -85px; 
  
} 

.teams-carousel {
    display: flex;
    gap: 16px;
    flex-shrink: 0; 
    padding-bottom: 16px;
}

.teams-wrapper .teams-carousel { 
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-columns: calc((100% / 4) - 12px);
    gap: 16px; 
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth; 
    scrollbar-width: 0; 
} 
  
.teams-carousel::-webkit-scrollbar { 
    display: none; 
} 
  
.teams-carousel :where(.card, .img) { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
} 
  
.teams-carousel.dragging { 
    scroll-snap-type: none; 
    scroll-behavior: auto; 
} 
  
.teams-carousel.no-transition { 
    scroll-behavior: auto; 
} 
  
.teams-carousel.dragging .card { 
    cursor: grab; 
    user-select: none; 
} 
  
.teams-carousel .card { 
    flex: 0 0 calc((100% / 4) - 12px);
    scroll-snap-align: start; 
    height: 340px; 
    list-style: none; 
    background: #e3e6ec; 
    border-radius: 8px; 
    display: flex; 
    cursor: pointer; 
    width: 100%; 
    padding-bottom: 15px; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
} 
  
.card .img { 
    background: #162938; 
    width: 145px; 
    height: 145px; 
    border-radius: 50%; 
  
} 
  
.card .img img { 
    width: 140px; 
    height: 140px; 
    object-fit: cover; 
    border-radius: 50%; 
    border: 4px solid #fff; 
} 
  
.card h2 { 
    font-weight: 500; 
    font-size: 1.56rem; 
    margin: 30px 0 5px; 
} 
  
.card span { 
    color: #494b52; 
    font-size: 15px; 
    font-weight: 200px;
  
} 
  
@media screen and (max-width: 900px) { 
    .teams-wrapper .teams-carousel { 
        grid-auto-columns: calc((100% / 4) - 12px);
    } 
} 
  
@media screen and (max-width: 600px) { 
    .teams-wrapper .teams-carousel { 
        grid-auto-columns: 100%; 
  
    } 
}

/********* teams.php css **********/

.all-teams-container {
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.teams-container {
    margin-top: 3%;
    text-align: center;
    /* position: relative; if everything breaks */
    background-color: #ffffff;
    width: 100%;
    overflow: hidden;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-top: 10%; 
    margin-bottom: 20%;
}

.teams-container h2 {
    font-size: 55px;
    font-weight: bold;
    margin: 0 auto; 
    margin-bottom: 30px;
}

.teams-container ion-icon {
    color: #162938;
    font-size: 40px;
    font-weight: bold;
    margin-left: 10px;
}

.senior-teams-container{
    border-bottom: 2px solid #a8b5be;
}

.senior-teams-container h3 {
    text-align: left;
    font-weight: bold;
}

.junior-teams-container h3 {
    text-align: left;
    font-weight: bold;
}

.social-teams-container{
    border-top: 2px solid #a8b5be;
}

.social-teams-container h3 {
    text-align: left;
    font-weight: bold;
}

